* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main-content {
    flex: 1;
    overflow-y: scroll;
}

.responsive-dialog {
    width: 80vw;
    height: 80vh;
}

/* 当屏幕宽度 ≤ 768px（典型手机断点）时 */
@media (max-width: 768px) {
    .responsive-dialog {
        width: 100%;
    }
}
